# Batch data directories
batch*/raw/
batch*/mzml/
batch*/results/
batch*/database/

# Python
venv/
__pycache__/
*.py[cod]

# Proteomics file types
*.raw
*.RAW
*.mzML
*.fasta
*.fa
*.faa
*.gz
*.pep.xml
*.prot.xml
*.mzid
*.index
*.html

# R
.Rhistory
.RData
.Rproj.user/

# Logs
*.log

# OS files
.DS_Store
