# R
.Rhistory
.RData
.Rproj.user/

# Raw mass spectrometry data
raw/
*.raw
*.RAW

# mzML files
mzml/
*.mzML

# Databases
database/
*.fasta
*.fa
*.faa
*.gz

# TPP / Comet outputs
results/
*.pep.xml
*.prot.xml
*.mzid
*.index
*.html

# Logs
*.log

# OS files
.DS_Store
